
  .content {
    position: relative;
  }
  .screen {
      display: block;
      width: 300px;
      height: 350px;
      overflow: hidden;
      position: relative;
      border: 2px solid yellow;
      border-radius: 1px;
      margin: 0 auto;
      box-shadow: 1px 1px 15px;
      border-radius: 5px;
  }
  .screen img {
      bottom: -1210px;
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 0;
    margin:0;
    padding:0;
      -webkit-transition: top 5s;
      -moz-transition: top 5s;
      -ms-transition: top 5s;
      -o-transition: top 5s;
      transition: bottom 5s;
  }
  .screen:hover img {
    bottom: 0;
    -webkit-transition: all 5s;
    -moz-transition: all 5s;
    -ms-transition: all 5s;
    -o-transition: all 5s;
    transition: all 5s;
  }