.ourstory {
    background-color: #FD5D14; 
    clip-path: polygon(46% 20%, 100% 20%, 100% 59%, 100% 100%, 0 100%, 15% 58%, 0 19%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 180px;
}
.menu_special {
    background-color: #FD5D14; 
    clip-path: polygon(46% 20%, 100% 20%, 100% 59%, 100% 100%, 0 100%, 15% 58%, 0 19%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
}
