@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.main_container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

